.project
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
*.log
Thumbs.db
.project

sitemap.xml
sitemap.xml.gz
sitemap-news.xml
error.log
.sass-cache
bower_components
node_modules
.htacess.txt
local-config.php
wp-salts.php

# wordpress specific
wp-config.php
wp-content/debug.log
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-config.dev.php
wp-content/gallery/*
wp-content/history/*
wp-content/releases/*
wp-content/cache/
wp-content/backups/
wp-content/languages/*
wp-content/languages/themes

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mysql.sql

# wp core (as of 3.4.1)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentyten
/wp-content/themes/twentyfifteen
/wp-content/themes/twentysixteen
/wp-content/themes/twentyseventeen
/wp-content/themes/index.php

/wp-content/plugins/index.php
/wp-content/mu-plugins/php-selector/
/wp-content/mu-plugins/php-selector.php
/wp-content/plugins/S3-Uploads-0.9.0/
/wp-content/plugins/debug-bar/
/wp-content/plugins/debug-bar-timber/
/wp-content/plugins/debug-objects/
/wp-content/plugins/debug-queries/
/wp-content/plugins/log-deprecated-notices/
/wp-content/plugins/query-monitor/
/wp-content/plugins/rewrite-rules-inspector/
/wp-content/plugins/user-switching/
/wp-content/plugins/duplicate-post/
/wp-content/plugins/fakerpress/
/wp-content/plugins/pc-robotstxt/

wp-content/plugins/wp-all-import-pro/
wp-content/plugins/yoast-seo-settings-xml-csv-import/
wp-content/plugins/wpai-acf-add-on/
wp-content/plugins/bulk-delete/




# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
wp-content/plugins/slider-pro/includes/timthumb/cache/
nbproject/
_2x.scssc
.sass-cache/
**/.sass-cache
**/.sass-cache/*
sitemap.xml
compass_app_log.txt
.idea/workspace.xml
.idea/scopes/scope_settings.xml
.htaccess
